
.fundo { 
	background: url("img/background.jfif");
	margin: 3px;
}

.titulos {
	margin-top: 5px;
	color: #2C2F30;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	border: 2px solid #000000;
	border-color: #A19191;
	border-radius: 3px 3px 3px 3px;
	padding: 10px 25px;
	text-align: center;
	background-color: #EEEEEE;
	font-weight: bold;
}

img { 	
	background-color: #EEEEEE;
	width: 100%;
	border: 3px solid;
	border-color: #A19191;
	border-radius: 3px 3px 3px 3px;
}

.imagem{
	margin-top: 5px;
	color: #2C2F30;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	border: 2px solid #000000;
	border-color: #A19191;
	border-radius: 3px 3px 3px 3px;
	padding: 10px 25px;
	text-align: center;
	background-color: #EEEEEE;
	list-style-type: none;
}

.felipe {
	width: 30%;
}

.subtitulos {
	margin-top: 5px;
	color: #2C2F30;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: bold;
	border: 2px solid #000000;
	border-color: #A19191;
	border-radius: 3px 3px 3px 3px;
	padding: 10px 25px;
	text-align: left;
	background-color: #EEEEEE;
	list-style-type: none;

}

.dados {
	margin-top: 5px;
	text-align: left;
	color: #2C2F30;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	border: 2px solid #000000;
	border-color: #A19191;
	border-radius: 3px 3px 3px 3px;
	background-color: #EEEEEE;
}

.secundario {
	margin-top: 5px;
	color: #2C2F30;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-style: italic;
	border: 2px solid #000000;
	border-color: #A19191;
	border-radius: 3px 3px 3px 3px;
	padding: 10px 25px;
	text-align: center;
	background-color: #EEEEEE;
	list-style-type: none;
}

.objetivo {
	text-align: left;
	color: #2C2F30;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	border: 2px solid #000000;
	border-color: #A19191;
	border-radius: 3px 3px 3px 3px;
	background-color: #EEEEEE;
	list-style-type: none;
}


